<div class="main-container">

    <div id="showcase1-container">
        <div class="showcase">
            <div class="col-2">
                <img class ="showcasepic" src="assets/denwall.jpg">
            </div>
                <div class="col-2">
                <div class="feature-text">
                <h3 class="section-title">Dental-Service</h3>
                <h3 class="section-left">Changing lives one smile at a time</h3>
                </div>
                </div>    
        </div>    
     </div>
     <div id="feature-section">
        <div class="feature-content">
            <div class="col-3">
                  <h1>Excellent Services</h1>
            </div>
            <div class="col-3">
                   <h1> Guaranteed Work</h1>
           </div>
            <div class="col-3">
                    <h1>Dental Implant </h1>
            </div>
            <div class="col-3">
                    <h1>24/7 Services</h1>
          </div>  
        </div>
    </div>
    <div id="showcase1-container">
        <div class="showcase">
            <div class="col-4">
                <img class ="showcasepic1" src="assets/dental1.jpg">
            </div>
                <div class="col-2">
                <div class="feature-text">
                <h3 class="section">"Make your dream smile a reality!"</h3>
                <p class="section-right">We provides a wide variety of dental services and procedures to address all of our patients' dental health needs. By combining quality patient care with up-to-date technology, we are able to treat patients of all ages in a comfortable and relaxing setting.</p>
                </div>
                </div>    
        </div>    
      </div>    
      <div class="last-content">
      <h1>Gallery</h1>
      <div class="box"><img src="assets/dental2.jpg"></div>
      <div class="box"><img src="assets/dental3.jpg"></div> 
      <div class="box"><img src="assets/dental4.jpg"></div> 
      <div class="box"><img src="assets/dental5.jpg"></div> 
      <div class="box"><img src="assets/dental6.jpg"></div> 
      <div class="box"><img src="assets/dental7.jpg"></div>  
      </div>
</div>
