
<!-- <div class="about-us">
</div> -->

<!--<div class="about-image"></div>-->
<img src="../../../assets/images/22.jpg" style="width: 100%; height: 50%;">
<!--<div class="about-us">
  <h1 class="abt">About Us </h1>
</div> -->

<br>
<br>
<br>
<br>
<br>

<section class="about-page">
  <div class="container">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Personal care for your healthy living</b> </h1>
    <p style="font-size:17px; font-style: italic; color: #4682B4;" >
      "The secret of health for both mind and body is not to mourn for the past, 
      not to worry about the future, or not to anticipate troubles, 
      but to live the present moment wisely and earnestly. Love yourself enough to live a healthy lifestyle."
    </p>
    <img class="sign" src="../../../assets/images/sign.png">

  </div>
</section>

<!--
<br>
<hr>
<section class="Speciality-page">
  <div class="container fea-pg">
    <h1 style="font-size: xx-large;"> <b>Our Services </b></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/lab.png">
        <h1>Laboratory</h1>
        <p>Our laboratory offers highly advanced dignostic, genetic, and molecular biology tests.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/General-Dentistry-1920.jpg">
        <h1>Dental Services</h1>
        <p>Dental implants, Teeth Whitening, Root canal and many more treatments are available in our hospital.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/neurology.png">
        <h1>Neurology</h1>
        <p>Department of neurology offers comprehensive consultative services, diagnostic testing and treatment for 
          a broad range of neurological conditions.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/cardi.jfif">
        <h1>Cardiology</h1>
        <p>Hospital provides the best cardiology services in India. The doctors in this cardiology hospital are available 24/7,for cardiac patients.</p>
      </div>
    </div>
  </div>
</section>
-->


<br>
<hr>
<section class="feature-page">
  <div class="container fea-pg">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Our Features </b></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/about/about-1.jpg">
        <h2 style="color: #4682B4;" >Healthcare for kids</h2>
        <p>The Kids program includes doctors visits, hospital stays, prescription drugs, vision care.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/about/about-2.jpg">
        <h2 style="color: #4682B4;">Medical Couseling</h2>
        <p>Includes Round 1, Round 2 of AIQ and Mop-Up Round & Stray Vacancy Round.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/about/about-3.jpg">
        <h2 style="color: #4682B4;">Modern Equipments</h2>
        <p>To treat our domestic and international patients, we incorporate the latest in technology and medical equipment.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/about/about-4.jpg">
        <h2 style="color: #4682B4;">Qualified Doctors</h2>
        <p>We have the best doctors in India for cardiology, Neurology & Dental Services.</p>
      </div>
    </div>
  </div>
</section>


<br>
<hr>
<section class="Speciality-page">
  <div class="container fea-pg">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Our Services </b></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/lab.png">
        <h2 style="color: #4682B4;">Laboratory</h2>
        <p>Our laboratory offers highly advanced dignostic, genetic, and molecular biology tests.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/General-Dentistry-1920.jpg">
        <h2 style="color: #4682B4;">Dental Services</h2>
        <p>Dental implants, Teeth Whitening, Root canal and many more treatments are available in our hospital.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/neurology.jpg">
        <h2 style="color: #4682B4;">Neurology</h2>
        <p>Department of neurology offers comprehensive consultative services, diagnostic testing and treatment for 
          a broad range of neurological conditions.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/Services/cardi.jfif">
        <h2 style="color: #4682B4;">Cardiology</h2>
        <p>Hospital provides the best cardiology services in India. The doctors in this cardiology hospital are available 24/7,for cardiac patients.</p>
      </div>
    </div>
  </div>
</section>


<!-- <section class="about-page">
  <div class="container">
    <h2>Personal care for your healthy living</h2>
    <p>
      The pain itself is a lot of pain They occur because of other hardships.
      Life is pain and responsibility! But often doing any thing, the consequences occur,
      which are the ones who are most worthy to criticize, free-choice.
    </p>
  </div>
</section> -->

<hr>
<section class="section team">
  <div class="container">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Meet Our Specialists </b></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/1.jpg">
        <h2 style="color: #4682B4;">Dr. John Marshal</h2>
        <p>Dentist, Oral and Maxillofacial Surgeon</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/2.jpg">
        <h2 style="color: #4682B4;">Dr. Samantha Green</h2>
        <p>Surgeon, Сardiologist</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/3.jpg">
        <h2 style="color: #4682B4;">Dr. Siamon john</h2>
        <p>Intern, General Practitioner</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/4.jpg">
        <h2 style="color: #4682B4;">Dr. Rishat Ahmed</h2>
        <p>Senior Doctor, Neurologist</p>
      </div>
    </div>
  </div>
</section>


<hr>
<section class="secion awards">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="award">Our Doctors Achievements</h2>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/1.png">
          </div>
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/2.png">
          </div>
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/3.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/4.png">
          </div>
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/5.png">
          </div>
          <div class="col-md-4">
            <img class="item2" src="../../../assets/images/Awards/6.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<hr>
<section class="section team">
  <div class="container">
    <h1 style="font-size: xx-large;"> <b>Meet Our Specialists </b></h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/1.jpg">
        <h1>Dr. John Marshal</h1>
        <p>Dentist, Oral and Maxillofacial Surgeon</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/2.jpg">
        <h1>Dr. Samantha Green</h1>
        <p>Surgeon, Сardiologist</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/3.jpg">
        <h1>Dr. Siamon john</h1>
        <p>Intern, General Practitioner</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <img class="item" src="../../../assets/images/team/4.jpg">
        <h1>Dr. Rishat Ahmed</h1>
        <p>Senior Doctor, Neurologist</p>
      </div>
    </div>
  </div>
</section> -->

<!--<hr>
<section class="about info">

</section> -->

<hr>
<section class="about-info">
    <div class="container">
      <h1 style="font-size: xx-large; color: #4682B4;"> <b>About our Hospital</b> </h1>
      <p>
        Mastek Health Care was established in 1946. It began as Mastek Health Care Nursing Home when its founders, Sir Cowasji Mastek Health Care and Lady Hirabai Jehangir,
        invited the eminent Dr. Edul jee H. Coyaji to set up a facility to offer personalized care of high quality at an affordable price to the people of Mumbai.
        On the 6th of February, 1946, it became the city's first significant private hospital with only a few beds. In 1998, Mastek Health Care was equipped with 350 beds, 
        tied up with the Apollo Hospitals Group to help manage and modernize the hospital.
      </p>
      <p>
        Mastek Health Care - Apollo Hospitals Group synergy provided the best outcome for the patients: superior 
        technology and medical skill combined with quality patient care
        Today being one of the oldest and most renowned names in Pune, Jehangir Hospital, with a legacy of providing quality healthcare services for over 77 years, 
        holds a steadfast position of trust and respect in the people's hearts and minds. NABH, NABL, and Nursing Excellence accredited,
        the 350-bed with 85 fully-equipped ICU beds, Mastek Health Care is synonymous with medical excellence, quality of its patient care, and affordability.
      </p>
      <p>
        With 9 Operation Theatres and 24x7 Emergency Department and ambulance service, Mastek Health Care endures care at every step. Mastek Health Care is a pioneer of modern-day emergency care in Pune. 
        The hospital guarantees the highest level of skill, expertise, infrastructure and operates one of the best Accident and Emergency Departments in Maharashtra.
        It provides services for all kinds of emergencies, like Trauma, Non-trauma, Medical or Surgical emergencies, 24 hours a day, 7 days a week, and 365 days a year.
      </p>
  <!--<p>
        Jehangir Hospital is also a top-rated learning centre in Maharashtra for providing a DNB programme for PG students. 
        It is one of the only two colleges in Pune which provide DNB - Emergency Medicine. 
        Other than that, we also offer the DNB programme in Pathology and DNB Orthopaedic Surgery.
      </p>
      <p>
        Jehangir Hospital is committed to achieving and maintaining excellence in health care services, medical education, and research. 
        The belief that clinical services supported by medical education and research of the highest quality can help both the medical community and our patients is an integral part of our Jehangir ethos.
        From ISO certified JCDC, which meets the gold standard for research centres worldwide, and HCJMRI, working in the area of infant and children's health, to carry out research, educational, 
        and training programs in the quest of quality health care, we have raised the bar with scientific papers and community programs being done by these teams.
      </p>
      <p>
        Good health isn't simply the absence of disease but the complete physical, mental, and social well-being of a person. 
        At Jehangir hospital, this is a belief that is reflected in its predictive, preventive approach to healthcare.
        It aims at offering solutions that set a very high standard of preventive and curative treatments.
      </p>-->
    </div>
</section>

<section class="about-info">
  <div class="container">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Our Mission</b> </h1>
    <P>
      “Our mission is to provide healthcare of international standards through a team of highly qualified professionals 
      and affordable to the community. We are also committed to maintaining clinical excellence by focussing on healthcare academics,
       research, and the latest technology.”
    </P>
  </div>
</section>

<section class="about-info">
  <div class="container">
    <h1 style="font-size: xx-large; color: #4682B4;"> <b>Our Vision</b> </h1>
    <P>
      “Our vision is to be the region’s foremost healthcare provider with 
      access to diverse clinical services focusing on consistency in ethical delivery of quality care, 
      research, and use of the best technology.”
    </P>
  </div>
</section>

<hr>