.footer {
  background-color: black;
  padding: 20px 10px;
  overflow: hidden;
  top: 100%;
  position: relative;
  height: 100px;
}
h1 {
  color: #fff;
  font-size: 20px;
}
p {
  color: #fff;
  font-size: 10px;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  font-size: 17px;
}
a:hover {
  color: var(--primary-color);
}
i {
  padding: 0px 10px;
}
