.gradient-custom{
    background-image: url("https://media.istockphoto.com/photos/circular-maze-labyrinth-picture-id990116958?b=1&k=20&m=990116958&s=170667a&w=0&h=skZao8ie8Aich0TzmNEEtcUagMMg_0ICp3q6q7qBM1w=");
    background-size: cover;
}
.form{
background-color:	#696969;
}
